parameters:
	ignoreErrors:
		-
			message: "#^Parameter \\#1 \\$arr1 of function array_merge_recursive expects array, array\\|object\\|null given\\.$#"
			count: 1
			path: src/Form.php

		-
			message: "#^Parameter \\#3 \\$length of function substr expects int, int\\<1, max\\>\\|null given\\.$#"
			count: 1
			path: src/FormElement/LocalDateTimeElement.php

		-
			message: "#^Parameter \\#2 \\$args of function vsprintf expects array\\<bool\\|float\\|int\\|string\\|null\\>, array\\<ipl\\\\Html\\\\ValidHtml\\> given\\.$#"
			count: 1
			path: src/FormattedString.php
